/*Style Inicio*/
.Inicio{
  width: 100%;
  min-height: 100%;
  background-color: red;
}
.Inicio_item{
  width: 100%;
  min-height: 100px;
  padding: 10px;
  border-bottom:1px solid #000;
}
.Inicio_item h2{
  font-size: 30px;
  text-align: center;
}
.Inicio_item div {
  width:100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Inicio_item form{
  display: flex;
  height: 50px;
}
.Inicio_item select{
  width: 60%;
  height: 30px;
  font-size: 25px;

}
.Inicio_item  button{
  width: 150px;
  height: 30px;
  font-size: 25px;
  background-color: #fff;
  border: solid 1px #000;
  font-weight: 600;
}







/*Style Auth*/
.Auth_pages {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 30px;
  align-items: center;
}

.Auth__box_form {
  width: 90%;
  min-height: 200px;
  border: solid 2px #000;
}
.Auth__box_form form {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 10px;
}
.form_item {
  display: flex;
  flex-direction: column;
  height: 60px;
  justify-content: center;
  align-items: center;
}
.form_item h2 {
  color: #000000;
}
.form_item label {
  font-size: 20px;
  width: 90%;
  color: #000000;
}
.form_item input {
  width: 90%;
  height: 40px;
  font-size: 20px;
  padding-left: 5px;
  padding-right: 5px;

}
.form_item button {
  color: #fff;
  background-color: #000000;
  width: 150px;
  height: 30px;
  font-size: 20px;
}
.form_item a {
  color: #000000;
}
/*Perfil Style*/
.Perfil {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box_Perfil {
  margin-top: 10px;
  padding: 20px;
  width: 70%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}
.box_Perfil span{
  display: flex;
  width: 100%;
  gap: 10px;
}
.box_Perfil span h3 {
  color: #000000;
  font-size: 1rem;
  
}

.box_list_Card_adepas {
  width: 100%;
  height: auto;
}
.box_list_Card_adepas ul {
  display: flex;
  padding: 10px;
  flex-direction: column;
  gap: 10px;
}
.box_list_Card_adepas ul li {
  min-height: 100px;
}

/*createArti style*/
.CreateArti {
  width: 100%;
  height: 100%;
  background-color: #fff;

}

.box_create {
  padding: 10px;
  width: 100%;
  height: auto;
  background-color: #fff;
}
.create_form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.create_item {
  display: flex;
  flex-direction: column;
  border: solid 1px #fff;
}
.create_item label {
  font-size: 25px;
  color: #000;
}
.create_item button {
  width: 100px;
  background-color: #ffff;
  font-size: 15px;
  height: 20px;
}
.create_item input,
.create_item textarea,
.create_item select {
  height: 30px;
  background-color: #d9d9d9;
  border: none;
  outline: none;
}

/* Cuando el input está enfocado */
.create_item input:focus,
.create_item textarea:focus,
.create_item select:focus {
  outline: solid 1px #000; /* Cambia el borde cuando se enfoca el input */
}

.item_precio_moneda{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.item_precio{
  width: 50%;
  display: flex;
  flex-direction: column;
}
.box_claves{
  display: flex;
  flex-direction: column;
  gap: 10px;

}
.box_claves span div{
  min-height: 30px;
  background: #e7e7e7;

  width: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}
.box_claves span div b{
  font-size: 20px;
  display: inline;
  letter-spacing: 1px;
  font-weight: 400;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box_claves span div button{
  width: 30px;
  background: none;
  color: #000;
  font-weight: 600;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item_etiqueta_opts{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.item_etiqueta_opts button{
  height: 30px;
  width: 100px;
  background-color: #080808;
  color: #ffffff;
  
}

input::file-selector-button{
  background: none;
  background-color: #080808;
  color: #ffffff;
  border: none;
  height: 30px;
  font-family: Arial, Helvetica, sans-serif;
  width: 100px;
}
.create_item textarea{
  height: 200px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;


}
.create_item ul{
  width: 100%;

}
.create_item ul li{
  width: 100%;
  height: 200px;
  background-color: #000;
}
.edit_imgs{
  position: relative;
}
.edit_imgs div {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  bottom:0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.edit_imgs div button{
  height: 80px;
  color: #fff;
  width: 80px;
  border-radius: 50%;
  background-color: #0000008b;
}


.create_item ul li img{
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.btn_submit_box input{
  border: none;
  background: none;
  background-color: #080808;
  color: #ffffff;
}



/*Style Depa*/
.Depa {
  width: 100%;
  height: 100vh;
}
.Depa_presen {
  display: flex;
  flex-direction: column;
}

.Depa_box_imgs {
  position: relative;
  width: 100%;
  min-height: 300px;
  display: flex;
  align-items: center;
}
.Depa_box_imgs img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}
.btn_imgs {
  background-color: black;
  height: 50px;
  width: 50px;
  position: absolute;
  z-index: 500;
  top: 50%;
  color: #fff;
  border-radius: 50%;
}
.lf {
  left: 0;
}
.rt {
  right: 0;
}

.Depa_opts {
  width: 100%;
  height: 500px;
  color: #000000;
  padding: 10px;
}

.Depa_opts h3 {
  font-size: 30px;
}
.Depa_opts p {
  font-size: 30px;
}
.Depa_opts_location{
  font-size: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}
.Depa_opts_btns{
  width: 100%;
  height: 30px;
  display: flex;
  gap: 10px;
}
.Depa_opts_btns button{
  min-width: 100px;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  padding-left: 10px;
  padding-right: 10px;
  height: 30px;
  font-size: 20px;
}
.Depa_opts_btns .btn_delete{
  color: #f00;
  border: solid 3px #f00;
}
.Depa_opts_btns .btn_contact{
  background-color: green;
  color: #fff;

}
.Depa_opts_features{
  margin-top: 20px;
  width: 100%;
  min-height: 150px;
  height: auto;
}
.Depa_opts_features div{
  padding-top: 10px;
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}
.Depa_opts_features div h3{
  padding-left: 10px;
}
.Depa_opts_features div p{
  border-radius: 10px;
  background-color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  font-weight: 400;
  padding: 5px;
  font-size: 18px;
}
.box_Descripcion{
  margin-top: 20px;
  font-size: 15px;
}
.box_Descripcion p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: start;
}

/*Panel*/

.Panel{
  width: 100%;
  height: 100%;
}
.Panel h1{
  padding: 10px;
  text-align: center;
}
.Box_Panel_Users{
  width: 100%;
  min-height: 300px;
}
.Box_Panel_Users ul{
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  gap: 10px;
}
.Box_Panel_Users ul li{
  display: flex;
  flex-direction: column;
  color: #000000;
  min-height: 100px;
  width: 300px;
  padding: 20px;
  border: solid 1px #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  gap: 10px;
}
.Box_Panel_Users ul li div {
  width: 100%;
  height: 30px;
}
.Box_Panel_Users ul li div button{
  background-color: red;
  color: #fff;
  padding: 5px;
}

.Box_Panel_Users ul li p{

}






